<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/jgimenez/JOSU/AppiumFramework">
        <classes>
            <class name="org.example.ecommerce_tc_1_2">
                <methods>
                    <include name="totalValidation"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>